<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <title>Testownik</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <label for="test-file">Wybierz przygotowany plik do nauki</label>
      <input type="file" id="test-file" name="test-file" />
      <p>Nie wybrano żadnego pliku.</p>
      <button>Prześlij</button>
    </div>

    <script src="./script.js"></script>
  </body>
</html>
